body {
  color: #c50b25;
  text-align: center;
  background-image: url('https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: 1500px;
  font-family: monospace, monaco;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

h1 {
  font-size: 60px;
  color: #c50b25;
  background-color: white;
}

p {
  color: black;
  background-color: white;
  font-size: 30px;
}

a {
  background-color: #c50b25;
  color: white;
  font-size: 25px;
}

img {
  text-align: center;
  max-width: 75%;
}